* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper_head_content {
    padding: 20px;
    width: 100%;
    display: flex;
    /* text-align: center; */
}

.wrapper_head_content p {
    font-size: 35px;
}

.wrapper_main_content,
.wrapper_main_content_active {
    width: 100%;
    height: 315px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper_main_content {
    height: auto;
}

.history_block {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    background-color: #dbd1d1;
    border: solid black;
    outline: auto;
    margin-bottom: 20px;
}

.img_block {
    width: 22%;
    height: 100%;
    padding: 10px;
}

.img_img,
.img_img_Act {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
}

.car_block {
    width: 50%;
    display: flex;
}

.leftColumn {
    padding: 20px;
    width: 50%;
}

.rightColumn {
    padding: 20px;
    width: 50%;
}

.car_block p {
    font-size: 20px;
    margin-left: 60px;
}

.car_block h3 {
    font-size: 20px;
    margin-left: 40px;
    padding: 5px;
}

.button_end {
    width: 28%;
    height: 100%;
    object-position: center;
}


/* div {
    border: black;
    outline: auto;
} */

.btn_end,
.btn_back {
    width: 80%;
    height: 80px;
    font-size: large;
    text-align: center;
    line-height: 40px;
    background: black;
    color: #fff;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    top: 35%;
    left: 10%;
}

.text-contr {
    width: 50%;
    height: 100%;
}

.button_back {
    width: 50%;
    height: 100%;
}

.btn_back {
    display: block;
    float: right;
    margin-right: 100px;
    width: 30%;
}

::-webkit-scrollbar {
    display: none;
}